.selected {
  background-image: radial-gradient(
    lightcoral 0px,
    lightcoral 70%,
    transparent 70%,
    transparent 100%
  );
}

.selected-start {
  background-image: radial-gradient(
      lightcoral 0px,
      lightcoral 18px,
      transparent 18px,
      transparent 36px
    ),
    linear-gradient(
      to right,
      transparent 0%,
      transparent 50%,
      lightpink 50%,
      lightpink 100%
    ) !important;
}

.selected-end {
  background-image: radial-gradient(
      lightcoral 0px,
      lightcoral 18px,
      transparent 18px,
      transparent 36px
    ),
    linear-gradient(
      to right,
      lightpink 0%,
      lightpink 50%,
      transparent 50%,
      transparent 100%
    ) !important;
}
